
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 5.9% 6.1%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 220 5.9% 6.1%;
    --popover-foreground: 0 0% 100%;
    --primary: 43 74% 49%;
    --primary-foreground: 220 5.9% 6.1%;
    --secondary: 0 0% 21.2%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 21.2%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 21.2%;
    --accent-foreground: 43 74% 49%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 21.2%;
    --input: 0 0% 14%;
    --ring: 43 74% 49%;
  }

  .dark {
    --background: 220 5.9% 6.1%;
    --foreground: 0 0% 100%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 100%;
    --popover: 220 5.9% 6.1%;
    --popover-foreground: 0 0% 100%;
    --primary: 43 74% 49%;
    --primary-foreground: 220 5.9% 6.1%;
    --secondary: 0 0% 21.2%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 21.2%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 21.2%;
    --accent-foreground: 43 74% 49%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 21.2%;
    --input: 0 0% 14%;
    --ring: 43 74% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    @apply py-16 md:py-24 lg:py-32;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-screen-xl px-4 md:px-6;
  }
  .bg-dotted-pattern {
    background-image: radial-gradient(circle at 1px 1px, hsl(var(--foreground) / 0.1) 0.5px, transparent 0);
    background-size: 20px 20px;
  }
}
